@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.row{
    margin-left: 0;
    margin-right: 0 ;
}

.bg-color{
    background-color: #0D0D0D;
}

.heading{
    color: #FF5E19;
    font-family: 'Berkshire Swash', cursive;
}

.card img{
    min-height: 250px;
    object-fit: cover;
}

hr{
    border: none;
    border-bottom: 5px solid #FF5E19;
    opacity: 75;
}

li{
    line-height: 2em;
}